$sidebar-bg-color: #212121 !default;
$sidebar-color: white !default;
$highlight-color: white !default;
$submenu-bg-color: #2317ad !default;
$submenu-bg-color-collapsed: #2317ad !default;


@import '~react-pro-sidebar/dist/scss/styles.scss';
