.sideBar{
    height: 100vh;
    position: absolute;
}

.closemenu{
    padding: 16px;
}

.alignIt{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    font-family:"Roboto", sans-serif;
}

.btn{
    margin-top: 1rem;
    margin-right: 1rem;
    padding: .6rem;
    width: 10rem;
    background: #212121;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 8px;
}

ul{
    list-style: none;
}

body{
    background-color: #433480;
    color: white;

}

p{
    font-weight: 600;
}

h1{
    padding: 6px;   
    margin-top: 22px;
}

h4{
    margin: 4px;
    color:aquamarine;
}

table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
}



th { 
	background: #342962; 
	color: white; 
	font-weight: bold;     
}

td, th { 
	padding: 10px; 
	text-align: center; 
	font-size: 18px;
}

td{
    background-color: #634fb4;
}